body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #333;
    scroll-behavior: smooth;
}

h1, h2 {
    margin: 0 0 20px;
    text-align: center;
}

p {
    margin: 0 0 20px;
    text-align: center;
}

/* Header */
.main-header {
    background: #272d2d;
    color: #fff;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    background: linear-gradient(to right, #23CD6B, #272d2d);
    color: #fff;
    padding: 70px 20px;
    text-align: center;
}

/* Section Styles */
section {
    padding: 60px 20px;
    max-width: 1200px;
    margin: auto;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Gallery Wrapper */
.gallery-wrapper {
    position: relative;
    margin: 20px auto;
    max-width: 1200px;
    padding-bottom: 10px;
}

/* Gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.gallery img {
    max-width: 300px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
    z-index: 10;
}


/* Skills */
.skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skills li {
    background: #272d2d;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.skills li:hover {
    transform: scale(1.05);
}

/* Contact Form */
.contact form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact label {
    font-weight: bold;
}

.contact input, .contact textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.contact button {
    background: #272d2d;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contact button:hover {
    background: #23CD6B;
}

/* Social Media Links */
.contact .social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.contact .social-links a {
    color: #272d2d;
    font-size: 1rem;
    text-decoration: none;
    padding: 8px 16px;
    border: 2px solid #272d2d;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contact .social-links a:hover {
    background-color: #23CD6B;
    color: white;
}


/* Footer */
.footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
}

footer p {
    padding-top: 20px;
}

/* About Section */
.about img {
    display: block;
    max-width: 200px;
    margin: 20px auto;
    border-radius: 50%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Remove Gallery Buttons */
.gallery-button {
    display: none;
}

.about h3 {
    padding-top: 20px;
    text-align: center;
}
